{% extends 'base/footer.html' %}
{% load static %}

{% block css %}{% static 'css/carga.css' %}{% endblock %}
{% block css2 %}{% static 'css/auth_ok.css' %}{% endblock %}
{% block title %}SICOMB - Dashboard{% endblock title %}
{% block title_top %}FAZER CARGA{% endblock title_top %}

{% block content_final %}
    <div class="content">
        <!-- <main role="main" > -->
        <section class="cargo">

            <div class="police_officer_field shadow">
                <table class="police_officer_table">
                    <thead>
                        <tr>
                            <th class="cargo_title">POLICIAL</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <a href="#"><img class="shadow" src="/media/{{policial.foto}}" alt=""></a>
                            </td>
                        </tr>
                        <tr>
                            <td>{{policial.nome}}</td>
                        </tr>
                        <tr>
                            <td>{{policial.matricula}}</td>
                        </tr>
                        <tr>
                            <td>{{policial.telefone}}</td>
                        </tr>
                        <tr>
                            <td>{{policial.lotacao}}</td>
                        </tr>
                        <tr>
                            <td>{{policial.email}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="police_officer_field shadow">
                <table class="police_officer_table">
                    <thead>
                        <tr>
                            <th class="cargo_title">LISTA DE ESPERA</th>
                        </tr>
                    </thead>
                    <tbody id="wating_list" style="text-align: center;">
                        
                    </tbody>
                </table>
            </div>

            <div class="military_means_room shadow">
                <div class="means_room_content" id="means_room_content">
                    <div class="means_room_table">
                        <h1 class="title">Você está fazendo uma carga ou descarga de materiais?</h1>
                        <div class="loading_or_unloading ">
                            <ul class="choice_loading_unloading ">
                                <li>
                                    <a onclick="changeTemplate('select_time')" href="#"><span>CARGA</span></a>
                                </li>
                                <li>
                                    <a onclick="changeTemplate('cargo')" href="#"><span>DESCARGA</span></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </section>
        <section>
            <div class="cargo_itens shadow">
                <!-- <h2>ITENS</h2> -->

                <table class="table_itens">
                    <thead>
                        <tr>
                            <th colspan="100%" class="cargo_title">
                                <h3>ITENS</h3>
                            </th>
                        </tr>
                        <tr class="col-itens">
                            <th>Nª</th>
                            <th>Nº DE SÉRIE</th>
                            <th>DESCRIÇÃO</th>
                            <th>TIPO</th>
                            <th>CALIBRE</th>
                            <th>QUANTIDADE</th>
                            <th>TAMANHO</th>
                            <th>OBSERVAÇÃO</th>
                            <th>AÇÃO</th>
                        </tr>
                    </thead>
                    <tbody  id="body_table_itens">
                    </tbody>
                </table>

            </div>
        </section>
        <div class="finalize_load">
            <form action="." method="POST" id="form-equipment">
                {% csrf_token %}
                <div class=""><input class="btn_finalize btn_cancel shadow" type="button" onclick="window.location.href = './cancel';" value="Limpar lista"></div>
                <div class=""><input class="btn_finalize btn_confirm shadow" type="submit" onclick="" value="Finalizar"></div>
            </form>
        </div>
    </div>
{% comment %} <script src="{% static 'js/fetch_cargo.js' %}"></script> {% endcomment %}


{% endblock content_final %}