{% extends 'base/footer.html' %}
{% load static %}

{% block title %}SISCOEM - Especificações da carga{% endblock title %}
{% block title_top %}ESPECIFICAÇÕES DA CARGA - ID:{{load.pk}}{% endblock title_top %}

{% block css %}{% static 'css/police_page.css' %}{% endblock %}
{% block css2 %}{% static 'css/carga.css' %}{% endblock%}


{% block content_final %}
<div class="div_load_specification">
    <section class="cargo">
        <div id="police_officer_field" class="police_officer_field shadow">
            <table class="police_officer_table">
                <thead>
                    <tr>
                        <th colspan="100%" class="cargo_title">POLICIAL</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        {% comment %} <td rowspan="100%"> {% endcomment %}
                        <td>
                            <a href="#"><img class="shadow" src="{{load.police.image_path.url}}" alt=""></a>
                        </td>
                    </tr>
                    <tr>
                        <td>{{load.police.name}}</td>
                    </tr>
                    <tr>
                        <td>{{load.police.matricula}}</td>
                    </tr>
                    <tr>
                        <td>{{load.police.telefone}}</td>
                    </tr>
                    <tr>
                        <td>{{load.police.lotacao}}</td>
                    </tr>
                    <tr>
                        <td>{{load.police.email}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>
    <section>
        <div class="cargo_itens shadow">
            <!-- <h2>ITENS</h2> -->

            <table class="table_itens">
                <thead>
                    <tr>
                        <th colspan="100%" class="cargo_title">
                            <h3>ITENS</h3>
                        </th>
                    </tr>
                    <tr class="col-itens">
                        <th>Nª</th>
                        <th>Nº DE SÉRIE</th>
                        <th>DESCRIÇÃO</th>
                        <th>TIPO</th>
                        <th>CALIBRE</th>
                        <th>QUANTIDADE</th>
                        <th>TAMANHO</th>
                        <th>STATUS</th>
                        <th>OBSERVAÇÃO</th>

                    </tr>
                </thead>
                <tbody >
                    {% for equipment_load in equipment_loads %}
                    <tr>
                        <td>
                            {{ forloop.counter}}
                        </td>
                        <td>
                            {{equipment_load.equipment.serial_number}}
                            {{equipment_load.bullet.caliber}}
                        </td>
                        <td>
                            {{ equipment_load.equipment.model.description }}
                            {{ equipment_load.bullet.description}}
                        </td>
                        <td>
                            {{equipment_load.equipment.model.model|default:equipment_load.bullet}}
                        </td>
                        <td>
                            {% if equipment_load.equipment.model.caliber %}
                                {{ equipment_load.equipment.model.caliber }}
                            {% else %}
                                {{ equipment_load.bullet.caliber|default:'-' }}
                            {% endif %}
                        </td>
                        <td>
                            {{equipment_load.amount}}
                            
                            <!-- {{equipment_load.bullet.amount}} -->
                            <!-- Está errado para a quantidade de munições. Está pegando qnt total e não o foi colocado na carga -->
                        </td>
                        <td>
                            {{equipment_load.equipment.model.size|default:"-"}}
                        </td>
                        <td>
                            {{equipment_load.status}}
                        </td>
                        <td>{{equipment_load.observation}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </section>
</div>
{% endblock content_final %} 
