{% extends 'base/footer.html' %}
{% load static %}

{% block title %}SICOMB - Lista de modelos{% endblock title %}
{% block title_top %}LISTA DE EQUIPAMENTOS{% endblock title_top %}
{% block css2 %}{% static 'css/equipamentos.css' %}{% endblock%}

{% block content_final %}

<section style="padding: 0px 20px">
    <div id="police_officer_field" class="police_officer_field shadow">
        <table class="police_officer_table">
            <thead>
                <tr>
                    <th colspan="100%" class="cargo_title">EQUIPAMENTO</th>
                </tr>
            </thead>
            <tbody>
                
                <tr>
                    <!-- <td>{{equipment.model}}</td> -->
                </tr>
                <tr>
                    <!-- <td>{{equipment.serial_number}}</td> -->
                </tr>
                <tr>
                    <!-- <td>{{equipment.description}}</td> -->
                </tr>
                <tr>
                    <!-- <td>{{equipment.type}}</td> -->
                </tr>
                <tr>
                    <!-- <td>{{equipment.caliber}}</td> -->
                </tr>
                <tr>
                    <!-- <td>{{equipment.quantity}}</td> -->
                </tr>
                <tr>
                    <!-- <td>{{equipment.size}}</td> -->
                </tr>
                <tr>
                    <!-- <td>{{equipment.status}}</td> -->
                </tr>
                <tr>
                    <!-- <td>{{equipment.police_approver}}</td> -->
                </tr>
            </tbody>
        </table>
    </div>
    
    
    
    </div>    


</section>


{% endblock content_final %} 