{% extends 'base/footer.html' %}
{% load static %}

{% block css %}{% static 'css/carga.css' %}{% endblock %}
{% block title %}SICOMB - Dashboard{% endblock title %}
{% block title_top %}FAZER CARGA{% endblock title_top %}

{% block content_final %}

<div class="container">
    <div class="content">
        <!-- <main role="main" > -->
        <section class="cargo">

            <div class="police_officer_field shadow">
                <table class="police_officer_table">
                    <thead>
                        <tr>
                            <th class="cargo_title">POLICIAL</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <a href="#"><img class="shadow" src="{% static 'img/minha_foto.jpg' %} " alt=""></a>
                            </td>
                        </tr>
                        <tr>
                            <td>Rafael Bragança de Oliveira</td>
                        </tr>
                        <tr>
                            <td>1519884</td>
                        </tr>
                        <tr>
                            <td>(77) 9 9922-1111</td>
                        </tr>
                        <tr>
                            <td>SGT</td>
                        </tr>
                        <tr>
                            <td>rafaelficticio@teste.com</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="military_means_room shadow">
                <div class="means_room_content">
                    <div class="means_room_table">
                        <table>
                            <thead>
                                <tr>
                                    <th colspan="5" class="cargo_title">SALA DE MEIOS</th>
                                </tr>
                            </thead>
                            <tbody class="tbody_top_means_room">
                                <tr>
                                    <td>DATA DE SOLICITAÇÃO</td>
                                    <td>HORA</td>
                                    <td class="checkbox">
                                        <input type="radio" id="six-hours" name="options_load">
                                        <label for="six-hours">6H</label>
                                    </td>
                                    <td class="checkbox">
                                        <input type="radio" id="twenty-four-hours" name="options_load">
                                        <label for="twenty-four-hours">24H</label>
                                    </td>
                                    <td class="checkbox">
                                        <input type="radio" id="court-order" name="options_load">
                                        <label for="court-order">REQUISIÇÃO JUDICIAL</label>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <h4>11/05/2023</h4>
                                    </td>
                                    <td>
                                        <h4>14:23</h4>
                                    </td>
                                    <td class="checkbox">
                                        <input type="radio" id="twelve-hours" name="options_load">
                                        <label for="twelve-hours">12H</label>
                                    </td>
                                    <td class="checkbox">
                                        <input type="radio" id="repair" name="options_load">
                                        <label for="repair">CONSERTO</label>
                                    </td>
                                    <td class="checkbox">
                                        <input type="radio" id="indeterminate" name="options_load">
                                        <label for="indeterminate">INDETERMINADO</label>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                    <div class="row_color"><span>
                            <hr>
                        </span></div>
                    <div class="search-info">
                        <div class="search-table">
                            <table cellspacing="0" cellpadding="0" align="center">
                                <thead>
                                    <tr>
                                        <td>NUM. DE SÉRIE/ID</td>
                                        <td>QUANTIDADE</td>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="search-box">
                                            <input type="text" class="search-txt" placeholder="Pesquisar">
                                            <a href="#" class="search-btn">
                                                <img class="img-search" src="{% static 'img/search.png' %}" alt="">
                                            </a>
                                        </td>
                                        <td class="put_qnt"> <input type="text" id="uname" name="name" required
                                                placeholder="1" /></td>
                                        <!-- <td rowspan="2">
                                                    
                                                    </td> -->
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="img_product">
                            <img class="means_room_product" src="{% static 'img/colete_balistico.png' %}" alt="">
                        </div>
                    </div>
                    <hr>
                    <div class="info_product">
                        <table>
                            <thead>
                                <tr>
                                    <th>NUM. DE SÉRIE / ID</th>
                                    <th colspan="2">DESCRIÇÃO</th>
                                    <th>TIPO</th>
                                    <th>QNT</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="description_product">
                                    <td>1753292</td>
                                    <td colspan="2">COLETE MODULAR MARROM</td>
                                    <td>COLETE</td>
                                    <td>1</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <hr>
                    <div class="bottom_means_room">
                        <div class="note">
                            <h5>OBSERVAÇÃO: </h5>
                            <textarea id="note_equipment" name="note" rows="3" cols="60">It was a dark and stormy night...It was a dark and stormy night...It was a dark and stormy night...It was a dark and stormy night...It was a dark and stormy night...It was a dark and stormy night...It was a dark and stormy night...It was a dark and stormy night...It was a dark and stormy night...
                                        </textarea>
                        </div>
                        <div class="insert_button">
                            <input type="submit" value="INSERIR" class="btn btn-insert shadow">
                        </div>
                    </div>
                </div>
            </div>

        </section>
        <section>
            <div class="cargo_itens shadow">
                <!-- <h2>ITENS</h2> -->

                <table class="table_itens">
                    <thead>
                        <tr>
                            <th colspan="100%" class="cargo_title">
                                <h3>ITENS</h3>
                            </th>
                        </tr>
                        <tr class="col-itens">
                            <th>Nº DE SÉRIE</th>
                            <th>DESCRIÇÃO</th>
                            <th>TIPO</th>
                            <th>CALIBRE</th>
                            <th>QUANTIDADE</th>
                            <th>TAMANHO</th>
                            <th>OBSERVAÇÃO</th>
                            <th>AÇÃO</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1596633</td>
                            <td>PISTOLA GLOCK G19 CAL 9MM</td>
                            <td>PISTOLA</td>
                            <td>9MM</td>
                            <td>1</td>
                            <td>-</td>
                            <td>APRESENTA DEFEITO NO TAMBOR</td>
                            <td><a href="#">| X |</a></td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </section>
        <div class="finalize_load">
            <div class=""><input class="btn_finalize btn_cancel shadow" type="submit" value="Cancelar"></div>
            <div class=""><input class="btn_finalize btn_confirm shadow" type="submit" value="Finalizar"></div>

        </div>
    </div>
</div>

{% endblock content_final %}