{% extends 'base/footer.html' %}
{% load static %}

{% block title %}SICOMB - Lista de modelos{% endblock title %}
{% block title_top %}LISTA DE MODELOS DE EQUIPAMENTOS{% endblock title_top %}
{% block css2 %}{% static 'css/equipamentos.css' %}{% endblock%}

{% block footer %}
{% endblock footer %}
{% block content_final %}
<style>
    .footer-div{
        position: absolute;
    }
    .container {
        max-width: 100%;
    }
    .dashboard_loads{
        width: auto;
    }
    .cargo_itens {
        overflow-y: none;
        overflow-x: none;
    }
</style>
<section style="padding: 0px 20px">
    <div class="cargo_itens dashboard_loads shadow"> 
        <table class="table_itens">
            <thead>
                <tr>
                    <th colspan="100%" class="cargo_title"><h3>ARMAMENTOS</h3></th>
                </tr>
                <form method="get">
                    <tr class="col-itens">
                        <th colspan="100%" class=""><input type="submit" value="Filtrar"></th>
                    </tr>
                    <tr class="col-itens">
                        {% for field in filter_form %}
                            <th>
                                {{ field }}
                            </th>
                        {% endfor %}
                    </tr>
                </form>
                <tr class="col-itens">
                    <td>Numero de Série</td>
                    <td>uid</td>
                    <td>Status</td>
                    <td>Modelo</td>
                </tr>
            </thead>
            <tbody>
                {% for equipment in equipment_list %}
                <tr>
                    <td>{{ equipment.serial_number }}</td>
                    <td>{{ equipment.uid }}</td>
                    <td>{{ equipment.status }}</td>
                    <td>{% if equipment.model_type.name == "model_accessory" %}
                        Acessório
                    {% elif equipment.model_type.name == "model_grenada" %}
                        Granada
                    {% elif equipment.model_type.name == "model_wearable" %}
                        Vestível
                    {% elif equipment.model_type.name == "model_armament" %}
                        Armamento
                    {% endif %}</td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="4">Nenhum equipamento encontrado.</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% comment %} 

    {
        "campos": [
            {
                "nome": "Nome",
                "tipo": "text"
            },
            {
                "nome": "Calibre",
                "tipo": "text"
            },
            {
                "nome": "Peso",
                "tipo": "number"
            },
            {
                "nome": "Tipo",
                "tipo": "select",
                "options": ["Pistola", "Rifle", "Escopeta", "Metralhadora"]
            },
            {
                "nome": "Ano de Fabricação",
                "tipo": "number"
            }
        ],
        "linhas": [
            {
                "columns": ["Colt M1911", ".45 ACP", 1.2, "Pistola", 1911]
            },
            {
                "columns": ["AK-47", "7.62x39mm", 4.5, "Rifle", 1947]
            },
            {
                "columns": ["Mossberg 500", "12-gauge", 3.5, "Escopeta", 1961]
            },
            {
                "columns": ["M249", "5.56x45mm", 17.0, "Metralhadora", 1984]
            }
        ]
    }

{% endcomment %}


        
    <span>
        <hr>
    </span>
</section>
{% if messages %}
<script>

   // Função para fechar o alerta
   function closeAlert(alert) {
      alert.remove();
   }

   // Função para exibir as mensagens de sucesso
   function showSuccessMessages() {
      {% for message in messages %}
      var messageText = "{{ message }}";
      // Crie um elemento de alerta para cada mensagem
      var alert = document.createElement('div');
      alert.className = 'alert alert-success';
      alert.textContent = messageText;
      // Crie um botão de fechamento (X)
      var closeButton = document.createElement('span');
      closeButton.className = 'alert-close';
      closeButton.textContent = 'X';
      closeButton.onclick =window.location=' function () {
         closeAlert'(alert);
      };
      alert.appendChild(closeButton);
      // Adicione o elemento ao corpo do documento
      document.body.appendChild(alert);
      // Defina um tempo limite para remover o elemento após 5 segundos
      setTimeout(function () {
         closeAlert(alert);
      }, 5000); // 5000 milissegundos = 5 segundos
      {% endfor %}
   }

   // Chame a função para exibir as mensagens de sucesso
   showSuccessMessages();
</script>
{% endif %}
{% endblock content_final %} 
