{% extends 'base/footer.html' %}
{% load static %}


{% block css %}{% static 'css/police_page.css' %}{% endblock %}
{% block title %}SICOMB - Dashboard{% endblock title %}
{% block title_top %}FAZER CARGA{% endblock title_top %}

{% comment %} {% block content %}{% endblock content %} {% endcomment %}

{% block content_final%}
    <section class="cargo">
                    
        {% if police %}
        <div class="police_officer_field shadow">
            <table class="police_officer_table">
                <thead>
                    <tr>
                        <th class="cargo_title">POLICIAL</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <a href="#" ><img class="shadow" src="/media/{{police.foto}}" alt=""></a>
                        </td>
                    </tr>
                    <tr>
                        <td>{{police.nome}}</td>
                    </tr>
                    <tr>
                        <td>{{police.matricula}}</td>
                    </tr>
                    <tr>
                        <td>{{police.telefone}}</td>
                    </tr>
                    <tr>
                        <td>{{police.lotacao}}</td>
                    </tr>
                    <tr>
                        <td>{{police.email}}</td>
                    </tr>
                    <tr>
                        <td>
                            <form action="./" method="post">
                                {% csrf_token %}
                                <div class="btn_final">
                                    <input class="btn_finalize btn_cancel shadow" name="cancelar" type="submit" value="Cancelar">
                                </div>
                            </form>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        {% endif %}
        {% if not police %}
        <div class="military_means_room shadow">
            <div class="means_room_content">
                <div class="means_room_table">
                    <table>
                        <thead>
                            <tr>
                                <th colspan="100%" class="title">CONFIRMAÇÃO</th>
                            </tr>
                        </thead>
                        <tbody class="tbody_top_means_room">
                            <tr>
                                <td class="sub-title">INSIRA SUA MATRÍCULA E SENHA OU COLOQUE SUA DIGITAL<br> PARA CONFIRMAR A OPERAÇÃO.</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="row_color"><span><hr></span></div>
                    <form action="./" method="POST">
                        {% csrf_token %}
                        <div class="input-div">

                            <div class="input-box">

                                <h4 class="input-title">MATRÍCULA</h4>
                                <input type="text" name="matricula" class="input-data" placeholder="Digite a matrícula">
                                
                            </div>
                            <div class="input-box">
                                <!-- <h4 class="input-title">CONFIRME A CARGA COM SUA MATRÍCULA E SENHA.</h4> -->
                                <h4 class="input-title">SENHA</h4>
                                <input type="password" name="senha" class="input-data" placeholder="Digite a senha">
                            </div>
                        </div>
                        <div class="finalize_load">
                            <div class="btn_final">
                                <input class="btn_finalize btn_confirm shadow" type="submit" value="Confirmar">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        {% endif %}
    </section>
    <section>
        <div class="cargo_itens shadow">
            <!-- <h2>ITENS</h2> -->
            
            <table class="table_itens">
                <thead>
                    <tr>
                        <th colspan="100%" class="cargo_title"><h3 >ITENS</h3></th>
                    </tr>
                    <tr class="col-itens">
                        {% comment %} <th>Nº DE SÉRIE</th>
                        <th>DESCRIÇÃO</th>
                        <th>TIPO</th>
                        <th>CALIBRE</th>
                        <th>QUANTIDADE</th>
                        <th>TAMANHO</th>
                        <th>OBSERVAÇÃO</th>
                        <th>AÇÃO</th> {% endcomment %}
                        <th>ID DE CARGA</th>
                        <th>TIPO</th>
                        <th>MATRÍCULA</th>
                        <th>ADJUNTO</th>
                        <th>GRADUAÇÃO</th>
                        <th>QNT. DE ITENS</th>
                        <th>DATA</th>
                        <th>PREVISÃO DE DESCARGA</th>
                    </tr>
                </thead>
                {% if cargos %}
                <tbody>
                    {% for i in cargos %}
                    <tr>
                        <tr>
                            <td class="click_redirect"><a  href="">{{ i.0.pk }}</a></td>
                            <td>{{i.0.turn_type}}</td>
                            <td>{{ i.0.police.plate |default:"WA025ALM" }}</td>
                            <td class="click_redirect" ><a  href="">{{ i.0.adjunct.name |default:"Adjunto Indisponível" }}</a></td>
                            <td>{{ i.0.police.patent |default:'Tenente'}}</td>
                            <td>{{ i.1 }}</td>
                            <td>{{ i.0.date_cargo }}</td>
                            <td>{{ i.0.expected_cargo_return_date |default:'-' }}</td>
                        </tr>
                    </tr>
                    {% endfor %}
                </tbody>
                {% endif %}
            </table>

        </div>
    </section>

{% endblock content_final%}

