{% extends 'base/footer.html' %}
{% load static %}

{% block title %}SICOMB - Promover a adjunto{% endblock title %}
{% block title_top %}PROMOVER A ADJUNTO{% endblock title_top %}
{% block css2 %}{% static 'css/carga.css' %}{% endblock%}

{% block content_final %}
<style>
    .footer-div{
        position: absolute;
    }
    .container {
        max-width: 100%;
    }
    .dashboard_loads{
        width: auto;
    }
    .button_promote {
        width: 100%;
        padding: 5px;
        border-radius: 10px;
        background-color: rgb(130, 241, 130);
    }
    .button_promote:hover {
        background-color: rgb(90, 206, 90);
    }
</style>
<section style="padding: 0px 20px">
    <div class="cargo_itens dashboard_loads shadow"> 
         <table class="table_itens">
            <thead>
                <tr>
                    <th colspan="100%" class="cargo_title"><h3 >CARGAS </h3></th>
                </tr>
                <tr class="col-itens">
                    <th>NOME</th>
                    <th>MATRÍCULA</th>
                    <th>GRADUAÇÃO</th>
                    <th>LOTAÇÃO</th>
                    <th>TORNAR ADJUNTO</th>
                </tr>
            </thead>
            <tbody>
                {% for i in polices %}
                <tr>
                    <td>{{ i.nome }}</td>
                    <td>{{ i.matricula }}</td>
                    <td>{{ i.posto }}</td>
                    <td>{{ i.lotacao }}</td>
                    <form action="./{{ i.pk }}/" method="post">
                        {% csrf_token %}
                        <td class="click_redirect"><button class="button_promote" type="submit">PROMOVER<button></td>
                    </form>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</section>

{% endblock content_final %} 
