{% extends 'base/footer.html' %}
{% load static %}

{% block css %}{% static 'css/register_police.css' %}{% endblock %}
{% block title %}SICOMB - Registrar{% endblock title %}

{% block content_final %}


   <section class="section_register">
      <div class="registration shadow">
         <table>
            <thead>
               <tr>
                  <th colspan="100%" class="title">
                     <h3>CADASTRAR POLICIAL</h3>
                  </th>
               </tr>
            </thead>
            <tbody>
               <tr>
                  <td class="sub-title">PREENCHA O FORMULÁRIO PARA O CADASTRO <br>DE UM NOVO POLICIAL</td>
               </tr>
            </tbody>
         </table>
         <div class="row_color"><span>
               <hr>
            </span></div>

         <form action="" method="POST">
            {% csrf_token %}
            <div class="input-div">
               
               <div class="input-box">
               <label for="{{ form.nome.id_for_label }}" class="custom-label">Nome</label>
               {{form.nome}}
               <label for="{{ form.matricula.id_for_label }}" class="custom-label">Matrícula</label>
               {{form.matricula}}
               <label for="{{ form.telefone.id_for_label }}" class="custom-label">Telefone</label>
               {{form.telefone}}
               <label for="{{ form.lotacao.id_for_label }}" class="custom-label">Lotação</label>
               {{form.lotacao}}
               </div>
               <div class="input-box">
                  <label for="{{ form.sobrenome.id_for_label }}" class="custom-label">Sobrenome</label>
               {{form.sobrenome}}
               <label for="{{ form.posto.id_for_label }}" class="custom-label">Posto</label>
               {{form.posto}}
               <label for="{{ form.email.id_for_label }}" class="custom-label">Email</label>
               {{form.email}}
               </div>
               
            </div>
            <div class="finalize-registration">
               <input class="box-shadow-registration" type="submit" value="FINALIZAR CADASTRO">
            </div>
         </form>
      </div>
   </section>

{% endblock content_final %}