{% extends 'base/footer.html' %}

{% load static %}

{% block css %}{% static 'css/register_police.css' %}{% endblock %}



{% block title %}SICOMB - Registrar{% endblock title %}
{% block title_top %}CADASTRO DE POLICIAL{% endblock title_top %}

{% block content_final %}
<section class="section_register">
   <div class="registration shadow">
      <table>
         <thead>
            <tr>
               <th colspan="100%" class="title">
                  <h3>CADASTRAR POLICIAL</h3>
               </th>
            </tr>
         </thead>
         <tbody>
            <tr>
               <td class="sub-title">PREENCHA O FORMULÁRIO PARA O CADASTRO <br>DE UM NOVO POLICIAL</td>
            </tr>
         </tbody>
      </table>
      <div class="row_color"><span>
            <hr>
         </span></div>

      <form action="" method="POST" enctype="multipart/form-data">
         {% csrf_token %}
         <div class="input-div">

            <div class="input-box">
               <label for="{{ form.nome.id_for_label }}" class="custom-label">NOME</label>
               {{form.nome}}
               {% if form.nome.errors %}
                  <usl>
                        {% for error in form.nome.errors %}
                           <li>{{ error }}</li>
                        {% endfor %}
                  </usl>
               {% endif %}<br>
               <label for="{{ form.matricula.id_for_label }}" class="custom-label">MATRÍCULA</label>
               <div class="input-search">
                  {{form.matricula}}
                  {% if form.matricula.errors %}
                  <usl>
                        {% for error in form.matricula.errors %}
                           <li>{{ error }}</li>
                        {% endfor %}
                  </usl>
               {% endif %}<br>
                  <button type="button" id="buscar-button"><img src="{% static 'img/search.png'%}"
                        alt="Procurar"></button>
               </div>
               <label for="{{ form.telefone.id_for_label }}" class="custom-label">TELEFONE</label>
               {{form.telefone}}
               {% if form.telefone.errors %}
                  <usl>
                        {% for error in form.telefone.errors %}
                           <li>{{ error }}</li>
                        {% endfor %}
                  </usl>
               {% endif %}<br>
               <label for="{{ form.lotacao.id_for_label }}" class="custom-label">LOTAÇÃO</label>
               {{form.lotacao}}
               {% if form.lotacao.errors %}
                  <usl>
                        {% for error in form.lotacao.errors %}
                           <li>{{ error }}</li>
                        {% endfor %}
                  </usl>
               {% endif %}<br>
            </div>
            <div class="input-box">
               <label for="{{ form.posto.id_for_label }}" class="custom-label">POSTO / GRADUAÇÃO</label>
               {{form.posto}}
               {% if form.posto.errors %}
                  <usl>
                        {% for error in form.posto.errors %}
                           <li>{{ error }}</li>
                        {% endfor %}
                  </usl>
               {% endif %}<br>
               <label for="{{ form.email.id_for_label }}" class="custom-label">E-MAIL</label>
               {{form.email}}
               {% if form.email.errors %}
                  <usl>
                        {% for error in form.email.errors %}
                           <li>{{ error }}</li>
                        {% endfor %}
                  </usl>
               {% endif %}<br>
               <label for="{{ form.senha.id_for_label }}" class="custom-label">SENHA</label>
               {{form.senha}}
               {% if form.senha.errors %}
                  <usl>
                        {% for error in form.senha.errors %}
                           <li>{{ error }}</li>
                        {% endfor %}
                  </usl>
               {% endif %}<br>
               <div class="file-input-container">
                  <input type="file" name="foto" class="file-input" accept="image/*" onchange="handleFileSelection(event)" id="id_foto">
                  <label for="{{ form.foto.id_for_label }}" class="custom-file-input">ANEXAR / ALTERAR FOTO</label>
               </div>
               <p id="fileSelectedMessage"></p>
            </div>

         </div>
         <div class="finalize-registration">
            <input class="box-shadow-registration" type="submit" value="FINALIZAR CADASTRO">
         </div>
      </form>
   </div>
</section>

{% if messages %}
<script>

   // Função para fechar o alerta
   function closeAlert(alert) {
      alert.remove();
   }

   // Função para exibir as mensagens de sucesso
   function showSuccessMessages() {
      {% for message in messages %}
      var messageText = "{{ message }}";
      // Crie um elemento de alerta para cada mensagem
      var alert = document.createElement('div');
      alert.className = 'alert alert-success';
      alert.textContent = messageText;
      // Crie um botão de fechamento (X)
      var closeButton = document.createElement('span');
      closeButton.className = 'alert-close';
      closeButton.textContent = 'X';
      closeButton.onclick = function () {
         closeAlert(alert);
      };
      alert.appendChild(closeButton);
      // Adicione o elemento ao corpo do documento
      document.body.appendChild(alert);
      // Defina um tempo limite para remover o elemento após 5 segundos
      setTimeout(function () {
         closeAlert(alert);
      }, 5000); // 5000 milissegundos = 5 segundos
      {% endfor %}
   }

   // Chame a função para exibir as mensagens de sucesso
   showSuccessMessages();
</script>
{% endif %}

<script>

   document.addEventListener('DOMContentLoaded', function () {
      var buscarButton = document.querySelector('#buscar-button');
      buscarButton.addEventListener('click', function () {
         var matriculaInput = document.querySelector('#matricula-input');
         var matricula = matriculaInput.value;
         window.location.href = '/police/search/' + matricula + '/';
      });
   });

   function handleFileSelection(event) {
      const fileInput = event.target;
      const fileSelectedMessage = document.querySelector('#fileSelectedMessage');
      console.log(fileSelectedMessage);
      if (fileInput.files && fileInput.files.length > 0) {
         const fileName = fileInput.files[0].name;
         fileSelectedMessage.textContent = `Arquivo: ${fileName}`;
      } else {
         fileSelectedMessage.textContent = "Nenhum arquivo selecionado";
      }
   }
</script>

{% endblock content_final %}