{% extends 'base/base.html' %}

{% block title %}SICOMB - Login{% endblock title %}

{% block l-right %}
<div id="login">
    <h4>Visualize no SISCOEM os movimentos realizados 
        <span>pelos policiais no batalhão</span></h4>
    <form method="post">
        {% csrf_token %}
        <label class="mat-top">Matrícula</label>
        <input type="text" name="username">
        <label for="">Senha</label>
        <input type="password" name="password">
        <input type="submit" value="Entrar">
    </form>
</div>
{% endblock l-right %}