{% extends 'base/base.html' %}
{% load static %}

{% block content %}
<div class="container">
<section class="top-content">
    <h1>CADASTRAR POLICIAL</h1>
    <div>
        <a href="#" class="info-login">
            <span class="top-item">
                <img src="{% static 'img/user.png' %}" alt="Usuário">
            </span>

            <span class="top-item">
                <h3>SGTALMEIDA</h3>
                <p>MATRÍCULA: 129834765</p>
            </span class="top-item">
            <span>
                <img id="down_arrow" src="{% static 'img/down_arrow.png' %}" alt="">
                <div class="dropdown-menu">
                    <a href="#" class="dropdown-item">
                        <!-- <img src="{% static 'img/" alt="" srcset="">
                                         Logout -->
                    </a>
                </div>
            </span>
        </a>
    </div>
</section>
{% block content_intermed %}{% endblock content_intermed %}
</div>
{% endblock content %}